{% extends "base.html" %}
{% block content %}

{% if request.user.is_authenticated %}

{% for message in messages %}
<div>
    <span style="color: lightgray">[{{message.chreated_at}}]</span> {{message.author}}: {{ message.text }}
</div>
{% endfor %}


<form action="/chat/" method="post">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input name="textmessage" class="mdl-textfield__input" type="text" id="sample3">
        <label class="mdl-textfield__label" for="sample3">message...</label>
    </div>

    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Send
    </button>
</form>
{% else %}
<h2>Nicht eingeloggt</h2>
<p>Bitte logge dich <a href="/login/">hier</a> ein.</p>
{% endif %}

{% endblock %}