{% extends "base.html" %}
{% block content %}

{% if request.user.is_authenticated %}

<div id="messageContainer">
    {% for message in messages %}
    <div class="box">
        <div class="message-bubble">
            <span style="color: lightgray">[{{message.chreated_at}}]     .</span> {{message.author}}: <i>{{ message.text }}</i>
        </div>
        <div>
            <img src="/static/img/check(1).png">
        </div>
    </div>
    {% endfor %}
</div>

<style>
    .message-bubble {
        display: flex;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        width: fit-content;
        border-radius: 10px;
        background-color: white;
    }

    html {
        line-height: 1.5;
        font-weight: 300;
        color: #192229;
        background: linear-gradient(135deg, #F4F2F3, #BFC6D0);
    }

    .box {
        display: flex;
        align-items: center;
    }

    .box img {
        width: 18px;
        margin-left: 5px;
    }
</style>

<script>

    function formatAMPM() {
        var d = new Date(),
            months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        return months[d.getMonth()] + '. ' + d.getDate() + ', ' + d.getFullYear();
    }


    async function sendMessage() {
        let fd = new FormData();
        let token = '{{ csrf_token }}';
        fd.append('textmessage', messageField.value);
        fd.append('csrfmiddlewaretoken', token);
        
        try {
            messageContainer.innerHTML += `
                <div id="deleteMessage" class="message-bubble">
                    <span style="color: lightgray" id="test">[${formatAMPM()}]     .</span> {{request.user}}: <i style="color: darkgray">${messageField.value}</i>
                </div>
            `;

            let response = await fetch('/chat/', {
                method: 'POST',
                body: fd
            });
            console.log('Sucess!')
            let json = await response.json();
            console.log(json);

            document.getElementById('deleteMessage').remove();
            

            messageContainer.innerHTML += `
                <div class="box">
                    <div class="message-bubble">
                        <span style="color: lightgray">[${formatAMPM()}]     .</span> {{request.user}}: <i>${messageField.value}</i> 
                    </div>
                    <div>
                        <img src="/static/img/check(1).png">
                    </div>
                </div>
            `;
            messageField.value = '';

        } catch (e) {
            console.log('ERROR!', e)
        }

    }

</script>

<form onsubmit="sendMessage(); return false;" method="post" style="margin-top: 30px;">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input required name="textmessage" class="mdl-textfield__input" type="text" id="messageField">
        <label class="mdl-textfield__label" for="messageField">message...</label>
    </div>

    <button onclick="clear()"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Send
    </button>

    <div id="test"></div>

</form>
{% else %}
<h2>Nicht eingeloggt</h2>
<p>Bitte logge dich <a href="/login/">hier</a> ein.</p>
{% endif %}

{% endblock %}